.env

DATABASE_URL=mysql://actlearc:02g36Lj.KmCyH@146.70.56.163:3306/mydb
CPANEL_URL=https://buc7.virtono.com:2083
WHM_URL=https://whm-1001.virtono.com:2083
EMAIL=motaz3d@gmail.com
EMAIL_PASSWORD=1@Qwaszxcv.DS_Store
.DS_Store
